In [174]:
import pandas as pd

Cost_of_Living_df = pd.read_excel('Stats/NUMBEO_Cost_of_Living_Index.xlsx')
# Assuming the relevant column is named 'Location' (change if needed)


Cost_of_Living_df

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1.0,"Zurich, Switzerland",107.4,61.4,87.0,108.9,108.2,159.7
1,2.0,"Geneva, Switzerland",104.2,58.6,84.0,107.7,109.6,167.9
2,3.0,"Lausanne, Switzerland",102.9,43.3,76.6,107.1,104.7,168.0
3,4.0,"Basel, Switzerland",102.1,46.4,77.4,108.4,105.2,185.8
4,5.0,"New York, NY, United States",100.0,100.0,100.0,100.0,100.0,100.0
...,...,...,...,...,...,...,...,...
361,NaN,"Memphis, TN, United States",62.1,27.4,46.4,64.0,51.8,131.0
362,NaN,"Kansas City, MO, United States",64.8,31.4,50.0,71.5,74.0,151.7
363,NaN,"Detroit, MI, United States",64.3,34.5,51.1,74.9,63.5,120.0
364,NaN,"Burlington, VT, United States",69.2,43.8,57.9,79.1,72.8,146.0
365,NaN,"Louisville, KY, United States",61.4,31.3,47.9,70.1,64.4,158.2

In [175]:
Crime_and_Safety_df = pd.read_excel('Stats/NUMBEO_Crime_and_Safety_Index.xlsx')
Crime_and_Safety_df

     Rank                            City  Crime Index  Safety Index
0     1.0  Pietermaritzburg, South Africa        82.20         17.80
1     2.0          Pretoria, South Africa        82.00         18.00
2     3.0              Caracas, Venezuela        81.40         18.60
3     4.0      Johannesburg, South Africa        80.80         19.20
4     5.0  Port Moresby, Papua New Guinea        80.70         19.30
..    ...                             ...          ...           ...
386   NaN    Charlotte, NC, United States        46.52         53.48
387   NaN     Hartford, CT, United States        67.37         32.63
388   NaN   Manchester, NH, United States        48.19         51.81
389   NaN     Portland, ME, United States        32.16         67.84
390   NaN      Spokane, WA, United States        55.86         44.14

[391 rows x 4 columns]

In [176]:
Healthcare_df = pd.read_excel('Stats/NUMBEO_Crime_and_Safety_Index.xlsx')
Healthcare_df

     Rank                            City  Crime Index  Safety Index
0     1.0  Pietermaritzburg, South Africa        82.20         17.80
1     2.0          Pretoria, South Africa        82.00         18.00
2     3.0              Caracas, Venezuela        81.40         18.60
3     4.0      Johannesburg, South Africa        80.80         19.20
4     5.0  Port Moresby, Papua New Guinea        80.70         19.30
..    ...                             ...          ...           ...
386   NaN    Charlotte, NC, United States        46.52         53.48
387   NaN     Hartford, CT, United States        67.37         32.63
388   NaN   Manchester, NH, United States        48.19         51.81
389   NaN     Portland, ME, United States        32.16         67.84
390   NaN      Spokane, WA, United States        55.86         44.14

[391 rows x 4 columns]

In [177]:
Pollution_df = pd.read_excel('Stats/NUMBEO_Pollution_Index.xlsx')
Pollution_df

,Rank,City,Pollution Index,Exp Pollution Index
0,1.0,"Kathmandu, Nepal",95.70,173.70
1,2.0,"Tetovo, North Macedonia",95.60,174.30
2,3.0,"Faridabad, India",94.50,171.00
3,4.0,"Ulaanbaatar, Mongolia",94.40,174.00
4,5.0,"Dhaka, Bangladesh",94.40,170.80
...,...,...,...,...
337,NaN,"Memphis, TN, United States",47.34,83.79
338,NaN,"Indianapolis, IN, United States",43.17,72.72
339,NaN,"Saint Louis, MO, United States",37.47,64.02
340,NaN,"Burlington, VT, United States",13.28,30.69
341,NaN,"Louisville, KY, United States",45.53,78.69

In [178]:
Property_Price_df = pd.read_excel('Stats/NUMBEO_Property_Price_Index.xlsx')
Property_Price_df

,Rank,City,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index
0,1.0,"Addis Ababa, Ethiopia",56.00,7.10,5.60,14.10,17.80,954.40,0.10
1,2.0,"Xiamen, China",41.10,1.00,1.20,103.30,84.40,287.50,0.30
2,3.0,"Shanghai, China",37.90,1.60,1.60,61.00,63.40,268.20,0.40
3,4.0,"Beijing, China",37.10,1.50,1.80,65.10,57.10,262.00,0.40
4,5.0,"Kathmandu, Nepal",34.50,1.80,1.80,55.90,55.80,476.90,0.20
...,...,...,...,...,...,...,...,...,...
319,NaN,"Pittsburgh, PA, United States",2.54,14.60,13.88,6.85,7.21,22.93,4.36
320,NaN,"Billings, MT, United States",2.83,10.72,10.17,9.33,9.83,25.75,3.88
321,NaN,"Montgomery, AL, United States",1.82,16.53,10.93,6.05,9.15,16.36,6.11
322,NaN,"Memphis, TN, United States",2.07,15.44,15.13,6.48,6.61,18.68,5.35
323,NaN,"Burlington, VT, United States",4.05,9.99,10.04,10.01,9.96,36.69,2.73

In [179]:
Quality_of_life_df = pd.read_excel('Stats/NUMBEO_Quality_of_Life_Index.xlsx')
Quality_of_life_df

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1.0,"The Hague (Den Haag), Netherlands",229.90,155.00,79.50,81.00,64.20,5.90,21.00,17.50,90.60
1,2.0,"Luxembourg, Luxembourg",229.10,199.40,71.40,75.60,71.00,7.90,28.50,22.30,82.60
2,3.0,"Groningen, Netherlands",226.60,154.70,78.10,78.60,58.60,5.20,20.10,18.80,83.50
3,4.0,"Eindhoven, Netherlands",222.30,147.60,79.10,80.60,63.80,6.40,22.80,19.20,85.40
4,5.0,"Basel, Switzerland",216.70,191.70,72.40,71.60,102.10,8.30,32.60,26.30,82.80
...,...,...,...,...,...,...,...,...,...,...,...
273,NaN,"Indianapolis, IN, United States",194.37,186.00,39.65,71.40,62.80,1.89,29.54,43.17,69.92
274,NaN,"Saint Louis, MO, United States",190.45,174.58,30.29,71.55,64.57,2.03,29.22,37.47,74.75
275,NaN,"Kansas City, MO, United States",194.70,160.04,41.88,72.69,64.81,2.53,27.74,32.21,75.08
276,NaN,"Detroit, MI, United States",139.46,126.29,26.95,62.41,64.29,2.05,44.19,61.40,66.03
277,NaN,"Louisville, KY, United States",187.41,166.70,43.32,61.40,61.42,4.00,22.40,45.53,78.61

In [180]:
Traffic_df = pd.read_excel('Stats/NUMBEO_Traffic_Index.xlsx')
Traffic_df

,Rank,City,Traffic Index,Time Index,Time Exp. Index,Inefficiency Index,CO2 Emission Index,CO2 Emission Index
0,NaN,NaN,NaN,(in minutes),NaN,NaN,NaN,NaN
1,1.0,"Lagos, Nigeria",365.90,70,31345.90,491.70,9330.8,NaN
2,2.0,"San Jose, Costa Rica",327.80,63.3,20163.80,350.30,10764.3,NaN
3,3.0,"Los Angeles, CA, United States",312.40,56.8,12153.30,682.40,14216.3,NaN
4,4.0,"Colombo, Sri Lanka",294.80,60,15838.90,401.40,7904.0,NaN
...,...,...,...,...,...,...,...,...
339,NaN,"Manchester, NH, United States",122.14,27.17,35.35,171.79,NaN,5763.33
340,NaN,"Portland, ME, United States",109.03,21.11,21.11,95.61,NaN,5408.67
341,NaN,"Billings, MT, United States",91.51,15.75,15.75,49.86,NaN,4189.50
342,NaN,"Montgomery, AL, United States",110.77,22.4,22.40,67.08,NaN,5692.40
343,NaN,"Burlington, VT, United States",121.24,25,25.00,128.51,NaN,6384.00

In [181]:
import pandas as pd

# Load the data
Ease_in_Doing_Business_Country_df = pd.read_excel('Stats/Ease_of_Doing_Business_per_Country.xlsx')

# Keep only the selected columns
cols_to_keep = [1, 2, 19, 31, 43, 55, 62, 79, 98, 118, 128, 136, 142]
Ease_in_Doing_Business_Country_df = Ease_in_Doing_Business_Country_df[cols_to_keep]

# Drop the first 5 rows (usually header info)
Ease_in_Doing_Business_Country_df = Ease_in_Doing_Business_Country_df.drop(index=[0, 1, 2, 3, 4, 5, 218, 219, ])

# Rename the columns properly
Ease_in_Doing_Business_Country_df.columns = [
    'Country',
    'City',
    'Starting_a_business_score',
    'Dealing_with_construction_permits_score',
    'Getting_Electricity_score',
    'Registering_Property_score',
    'Getting_Credit_score',
    'Strength_of_minority_investors_protection_score',
    'Paying_taxes_score',
    'Trading_across_borders_score',
    'Enforcing_contracts_score',
    'Resolving_insolvency_score',
    'Overall_ease_of_doing_business_score'
]

# Show the cleaned DataFrame
Ease_in_Doing_Business_Country_df

,Country,City,Starting_a_business_score,Dealing_with_construction_permits_score,Getting_Electricity_score,Registering_Property_score,Getting_Credit_score,Strength_of_minority_investors_protection_score,Paying_taxes_score,Trading_across_borders_score,Enforcing_contracts_score,Resolving_insolvency_score,Overall_ease_of_doing_business_score
6,Afghanistan,Afghanistan,92,34.5,44.2,27.5,50,36,42.2,30.6,31.8,51.9,44.1
7,Albania,Albania,91.8,52.7,71,63.4,70,46,65.2,96.3,53.5,67.7,67.7
8,Algeria,Algeria,78,65.3,72.1,44.3,10,20,53.9,38.4,54.8,49.2,48.6
9,Angola,Angola,79.4,65.3,54.1,43.3,5,32,69.5,36.2,28.1,0,41.3
10,Antigua and Barbuda,Antigua and Barbuda,82.6,65.7,83.5,56.7,25,58,58.9,68.7,68.1,35.6,60.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
import pandas as pd

# Load the Excel file
Ease_in_Doing_Business_City_df = pd.read_excel('Stats/Ease_of_Doing_Business_per_City.xlsx')



# Select only the specified columns by index
selected_columns = [3, 4, 16, 33, 50, 71, 87, 102, 123, 144, 175, 196]
Ease_in_Doing_Business_City_df= Ease_in_Doing_Business_City_df[selected_columns]

Ease_in_Doing_Business_City_df = Ease_in_Doing_Business_City_df.iloc[9:]

Ease_in_Doing_Business_City_df.columns = [
    'Country',
    'City',
    'Starting_a_business_score',
    'Dealing_with_construction_permits_score',
    'Getting_Electricity_score',
    'Registering_Property_score',
    'Getting_Credit_score',
    'Strength_of_minority_investors_protection_score',
    'Paying_taxes_score',
    'Trading_across_borders_score',
    'Enforcing_contracts_score',
    'Resolving_insolvency_score',
]

Ease_in_Doing_Business_City_df

,Country,City,Starting_a_business_score,Dealing_with_construction_permits_score,Getting_Electricity_score,Registering_Property_score,Getting_Credit_score,Strength_of_minority_investors_protection_score,Paying_taxes_score,Trading_across_borders_score,Enforcing_contracts_score,Resolving_insolvency_score
9,Afghanistan,Kabul,92.076616,24.299712,60.059303,33.333333,NaN,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,Kandahar,86.194263,47.942363,56.480081,49.308878,NaN,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,Balkh,86.194263,46.789625,58.708719,42.291334,NaN,NaN,NaN,NaN,NaN,NaN
12,Afghanistan,Nangarhar,85.943007,37.840538,57.259444,43.022329,NaN,NaN,NaN,NaN,NaN,NaN
13,Afghanistan,Herat,85.943007,32.388088,51.932602,27.777778,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
872,Sweden,Sundsvall,87.051116,82.596851,88.94862,89.112714,NaN,NaN,NaN,NaN,NaN,NaN
873,Sweden,Umeå,87.051116,80.83234,87.957491,89.112714,NaN,NaN,NaN,NaN,NaN,NaN
874,Sweden,Uppsala,87.051116,81.228184,82.149542,89.112714,NaN,NaN,NaN,NaN,NaN,NaN
875,Tanzania,Zanzibar Town,61.131077,91.493398,92.830839,35.606061,NaN,NaN,69.384338,NaN,67.027567,NaN
876,Tanzania,Zanzibar Town-port,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.759121,NaN,NaN

In [183]:
# Load the uploaded CSV files
city_df = pd.read_csv("Edited_Business_City_df.csv")
country_df = pd.read_csv("Edited_Business_Country_df.csv")

# Group cities by country and join them into a single string

# Merge the grouped cities into the country-level dataframe
combined_df = pd.concat([country_df, city_df], ignore_index=True)



# Display the updated dataframe to the user

combined_df_sorted = combined_df.sort_values(by="Country").reset_index(drop=True)

combined_df_sorted["City"] = combined_df_sorted.apply(
    lambda row: f"{row['City'].strip(', ')}" + ", " + f"{row['Country'].strip(', ')}" 
    if pd.notnull(row["City"]) and pd.notnull(row["Country"]) else row["City"],
    axis=1)


combined_df_sorted

,Country,City,Starting_a_business_score,Dealing_with_construction_permits_score,Getting_Electricity_score,Registering_Property_score,Getting_Credit_score,Strength_of_minority_investors_protection_score,Paying_taxes_score,Trading_across_borders_score,Enforcing_contracts_score,Resolving_insolvency_score,Overall_ease_of_doing_business_score
0,Afghanistan,"Afghanistan, Afghanistan",92.000000,34.500000,44.200000,27.500000,50.0,36.0,42.2,30.6,31.8,51.9,44.1
1,Afghanistan,"Herat, Afghanistan",85.943007,32.388088,51.932602,27.777778,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,"Nangarhar, Afghanistan",85.943007,37.840538,57.259444,43.022329,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,"Balkh, Afghanistan",86.194263,46.789625,58.708719,42.291334,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,"Kandahar, Afghanistan",86.194263,47.942363,56.480081,49.308878,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
import sqlite3

# Load CSV files into DataFrames
Cost_of_Living_df = pd.read_excel('Stats/NUMBEO_Cost_of_Living_Index.xlsx')
Crime_and_Safety_df = pd.read_excel('Stats/NUMBEO_Crime_and_Safety_Index.xlsx')
Healthcare_df = pd.read_excel('Stats/NUMBEO_Healthcare_Index.xlsx')
Pollution_df = pd.read_excel('Stats/NUMBEO_Pollution_Index.xlsx')
Property_Price_df = pd.read_excel('Stats/NUMBEO_Property_Price_Index.xlsx')
Quality_of_life_df = pd.read_excel('Stats/NUMBEO_Quality_of_Life_Index.xlsx')
Traffic_df = pd.read_excel('Stats/NUMBEO_Traffic_Index.xlsx')

conn = sqlite3.connect(':memory:')

# Load DataFrames into the database as tables
Cost_of_Living_df.to_sql('CostOfLiving', conn, index=False, if_exists='replace')
Crime_and_Safety_df.to_sql('CrimeSafety', conn, index=False, if_exists='replace')
Healthcare_df.to_sql('Healthcare', conn, index=False, if_exists='replace')
Pollution_df.to_sql('Pollution', conn, index=False, if_exists='replace')
Property_Price_df.to_sql('PropertyPrice', conn, index=False, if_exists='replace')
Quality_of_life_df.to_sql('QualityOfLife', conn, index=False, if_exists='replace')
Traffic_df.to_sql('Traffic', conn, index=False, if_exists='replace')



# SQL query to merge all tables on 'Player'
sql_query = """
SELECT 
    PropertyPrice.City,
    PropertyPrice.[Price To Income Ratio],
    PropertyPrice.[Gross Rental Yield City Centre],
    PropertyPrice.[Gross Rental Yield Outside of Centre],
    PropertyPrice.[Price To Rent Ratio City Centre],
    PropertyPrice.[Price To Rent Ratio Outside Of City Centre],
    PropertyPrice.[Mortgage As A Percentage Of Income],
    PropertyPrice.[Affordability Index],

    QualityOfLife.[Quality of Life Index],
    QualityOfLife.[Purchasing Power Index],
    QualityOfLife.[Safety Index],
    QualityOfLife.[Health Care Index],
    QualityOfLife.[Cost of Living Index],
    QualityOfLife.[Property Price to Income Ratio],
    QualityOfLife.[Traffic Commute Time Index],
    QualityOfLife.[Pollution Index],
    QualityOfLife.[Climate Index],

    Traffic.[Traffic Index],
    Traffic.[Time Index],
    Traffic.[Time Exp. Index],
    Traffic.[Inefficiency Index],
    Traffic.[CO2 Emission Index],

    Pollution.[Pollution Index] AS PollutionIndex_Detail,
    Pollution.[Exp Pollution Index],

    Healthcare.[Health Care Index] AS HealthcareIndex_Detail,
    Healthcare.[Health Care Expenditure Index],

    CrimeSafety.[Crime Index],
    CrimeSafety.[Safety Index] AS SafetyIndex_Crime,

    CostOfLiving.[Cost of Living Index] AS CostOfLivingIndex_Detail,
    CostOfLiving.[Rent Index],
    CostOfLiving.[Cost of Living Plus Rent Index],
    CostOfLiving.[Groceries Index],
    CostOfLiving.[Restaurant Price Index],
    CostOfLiving.[Local Purchasing Power Index]

FROM PropertyPrice
JOIN QualityOfLife ON PropertyPrice.City = QualityOfLife.City
JOIN Traffic ON PropertyPrice.City = Traffic.City
JOIN Pollution ON PropertyPrice.City = Pollution.City
JOIN Healthcare ON PropertyPrice.City = Healthcare.City
JOIN CrimeSafety ON PropertyPrice.City = CrimeSafety.City
JOIN CostOfLiving ON PropertyPrice.City = CostOfLiving.City
WHERE PropertyPrice.City LIKE '%United States%'



"""




# Execute the query and load results into a DataFrame
All_Numbeo_Numbers_df = pd.read_sql_query(sql_query, conn)

# Save the merged DataFrame to a new CSV file
csv_filename = "Stats/All_Numbeo_Numbers.csv"
All_Numbeo_Numbers_df.to_csv(csv_filename, index=False)

# Close the connection
conn.close()

# Provide the file to the user
All_Numbeo_Numbers_df.colums

,City,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index,Quality of Life Index,Purchasing Power Index,...,HealthcareIndex_Detail,Health Care Expenditure Index,Crime Index,SafetyIndex_Crime,CostOfLivingIndex_Detail,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,"New York, NY, United States",14.60,5.20,4.80,19.30,20.80,131.80,0.80,133.10,105.30,...,62.60,116.7,50.80,49.20,100.0,100.0,100.0,100.0,100.0,100.0
1,"Honolulu, HI, United States",10.00,5.70,5.20,17.50,19.30,90.90,1.10,165.70,108.50,...,72.90,132.7,47.70,52.30,91.8,58.7,77.1,111.2,86.0,104.3
2,"San Jose, CA, United States",8.50,6.20,5.60,16.20,18.00,76.10,1.30,175.98,150.09,...,66.60,121.1,47.50,52.50,84.8,73.9,79.4,88.0,95.0,95.4
3,"Los Angeles, CA, United States",7.80,7.10,6.50,14.20,15.40,70.90,1.40,143.10,131.70,...,62.00,114.0,53.90,46.10,77.5,63.0,71.1,84.6,86.6,125.8
4,"San Diego, CA, United States",7.40,6.40,7.10,15.50,14.10,66.20,1.50,190.00,147.50,...,68.00,126.1,39.90,60.10,78.7,68.6,74.2,78.8,84.5,140.6
5,"Boston, MA, United States",7.20,7.00,8.60,14.40,11.70,64.90,1.50,181.00,139.90,...,72.20,133.2,40.00,60.00,84.1,75.5,80.3,93.2,90.0,133.3
6,"San Francisco, CA, United States",7.00,6.20,5.80,16.10,17.20,62.60,1.60,174.30,177.20,...,64.80,119.5,61.20,38.80,91.8,79.7,86.5,103.9,91.2,168.9
7,"Miami, FL, United States",6.80,10.00,11.60,10.00,8.60,61.30,1.60,158.50,106.50,...,63.50,119.3,52.60,47.40,74.3,70.0,72.4,77.1,86.1,101.3
8,"Washington, DC, United States",5.80,8.00,7.80,12.50,12.90,51.80,1.90,174.90,155.30,...,70.40,130.0,60.20,39.80,80.9,69.8,76.0,87.5,81.6,148.1
9,"Seattle, WA, United States",4.80,7.00,7.60,14.20,13.20,42.40,2.40,192.50,183.80,...,67.50,125.8,54.20,45.80,84.6,59.3,73.4,95.0,86.7,176.3
10,"Raleigh, NC, United States",4.60,6.90,11.20,14.50,8.90,41.50,2.40,193.60,157.00,...,67.40,124.9,39.90,60.10,68.0,43.1,57.0,78.6,67.4,150.9
11,"Sacramento, CA, United States",4.50,10.60,9.30,9.40,10.80,40.60,2.50,181.00,138.80,...,67.50,122.4,49.20,50.80,77.2,50.7,65.5,87.5,71.3,133.3
12,"Denver, CO, United States",4.10,9.70,10.10,10.30,9.90,36.90,2.70,177.40,158.90,...,69.00,129.1,47.80,52.20,73.1,51.2,63.4,79.8,74.6,152.4
13,"Phoenix, AZ, United States",4.00,8.60,9.20,11.60,10.90,36.40,2.80,167.20,161.90,...,65.90,122.9,53.10,46.90,66.4,38.6,54.1,70.0,72.1,156.0
14,"San Antonio, TX, United States",3.90,7.40,11.80,13.50,8.50,35.00,2.90,191.10,165.10,...,68.30,125.0,48.10,51.90,59.8,34.9,48.7,63.5,64.8,159.1
15,"Columbus, OH, United States",3.90,11.10,8.70,9.00,11.50,34.70,2.90,188.40,143.40,...,70.70,131.1,49.60,50.40,67.5,38.0,54.4,76.0,68.1,138.2
16,"Charlotte, NC, United States",3.80,10.80,12.50,9.30,8.00,34.40,2.90,189.31,147.64,...,69.20,128.9,46.52,53.48,69.3,49.4,60.5,82.6,66.8,141.5
17,"Portland, OR, United States",3.70,10.80,9.90,9.20,10.10,33.40,3.00,193.10,158.40,...,68.90,127.2,56.90,43.10,71.6,46.4,60.4,77.7,71.1,152.2
18,"Las Vegas, NV, United States",3.60,10.30,10.80,9.70,9.20,32.80,3.10,165.30,152.60,...,53.70,96.0,55.80,44.20,65.4,38.5,53.5,66.3,73.6,147.0
19,"Tucson, AZ, United States",3.60,10.30,9.50,9.70,10.50,32.60,3.10,186.80,144.00,...,61.30,110.5,54.60,45.40,62.9,31.1,48.8,68.5,69.5,139.3
20,"Salt Lake City, UT, United States",3.60,9.70,10.90,10.30,9.20,32.20,3.10,178.20,162.10,...,67.30,127.0,34.60,65.40,63.5,38.4,52.4,68.6,69.9,156.0
21,"Jacksonville, FL, United States",3.50,11.10,11.10,9.00,9.00,31.60,3.20,188.90,152.90,...,73.60,135.1,56.40,43.60,61.7,38.4,51.4,68.6,69.4,147.1
22,"Philadelphia, PA, United States",3.50,11.30,11.90,8.80,8.40,31.60,3.20,162.40,136.50,...,70.20,128.4,66.00,34.00,76.1,41.5,60.8,91.5,73.2,131.7
23,"Austin, TX, United States",3.50,11.70,10.90,8.50,9.20,31.20,3.20,193.00,174.60,...,65.80,121.1,43.40,56.60,63.9,49.8,57.7,69.9,69.1,166.9
24,"Tampa, FL, United States",3.30,11.00,13.20,9.10,7.50,29.40,3.40,193.20,157.60,...,66.10,121.3,46.20,53.80,71.5,46.5,60.4,82.3,75.3,151.4
25,"Orlando, FL, United States",3.20,11.90,14.80,8.40,6.80,29.00,3.40,188.40,151.40,...,61.40,112.6,49.60,50.40,65.5,43.7,55.9,75.4,69.8,145.4
26,"Albuquerque, NM, United States",3.20,10.10,10.50,9.90,9.50,28.60,3.50,179.90,161.30,...,62.70,112.8,71.70,28.30,59.9,33.4,48.2,70.4,65.7,155.6
27,"Minneapolis, MN, United States",3.20,9.80,10.60,10.20,9.40,28.30,3.50,188.60,171.30,...,71.70,134.0,56.00,44.00,68.1,36.5,54.1,81.6,68.7,165.4
28,"Madison, WI, United States",3.10,12.10,11.90,8.30,8.40,27.90,3.60,192.60,159.96,...,68.60,126.3,33.53,66.47,65.3,40.9,54.5,75.3,64.2,153.8
29,"Dallas, TX, United States",3.10,10.60,14.10,9.40,7.10,27.30,3.70,190.20,166.60,...,66.10,121.9,51.20,48.80,68.4,46.0,58.5,73.1,70.0,159.9
30,"New Orleans, LA, United States",3.00,14.90,12.40,6.70,8.10,27.60,3.60,162.30,130.10,...,60.90,114.0,67.40,32.60,73.6,40.4,58.9,77.5,90.7,125.6
31,"Chicago, IL, United States",2.90,15.60,12.50,6.40,8.00,26.50,3.80,163.10,157.50,...,65.30,121.9,66.10,33.90,74.1,54.6,65.5,83.5,83.8,150.8
32,"Houston, TX, United States",2.60,13.50,14.30,7.40,7.00,23.40,4.30,174.00,167.90,...,69.60,128.9,63.30,36.70,63.1,41.0,53.3,68.4,69.7,161.3
33,"Milwaukee, WI, United States",2.60,17.30,14.30,5.80,7.00,23.20,4.30,174.61,142.95,...,63.80,120.3,66.80,33.20,60.2,36.0,48.1,65.0,62.0,56.2
34,"Baltimore, MD, United States",2.50,18.70,14.60,5.40,6.80,23.10,4.30,167.67,140.33,...,76.40,142.4,72.40,27.60,68.1,42.7,56.8,81.8,66.3,134.9
35,"Kansas City, MO, United States",2.50,13.50,11.40,7.40,8.80,22.80,4.40,194.70,160.04,...,72.70,134.2,58.10,41.90,64.8,31.4,50.0,71.5,74.0,151.7
36,"Atlanta, GA, United States",2.40,14.10,13.20,7.10,7.50,21.70,4.60,184.90,177.20,...,67.00,125.0,64.70,35.30,72.0,42.2,58.8,87.6,73.7,170.7
37,"Detroit, MI, United States",2.10,22.30,19.20,4.50,5.20,18.30,5.50,139.46,126.29,...,62.40,112.9,73.00,27.00,64.3,34.5,51.1,74.9,63.5,120.0
38,"Saint Louis, MO, United States",2.00,16.90,13.90,5.90,7.20,18.20,5.50,190.45,174.58,...,71.60,131.4,69.70,30.30,64.6,36.2,52.0,71.6,70.2,168.4
39,"Jersey City, NJ, United States",5.25,11.00,8.49,9.09,11.78,47.38,2.11,162.92,155.01,...,42.46,NaN,39.89,60.11,71.4,73.8,72.5,80.2,69.1,149.8
40,"Manchester, NH, United States",3.89,10.72,9.30,9.33,10.75,34.31,2.91,186.86,147.19,...,76.23,NaN,48.19,51.81,55.2,-55.8,20.7,64.5,73.2,129.5
41,"Pittsburgh, PA, United States",2.54,14.60,13.88,6.85,7.21,22.93,4.36,182.03,147.01,...,72.80,133.6,38.20,61.80,72.1,37.9,56.9,90.9,64.1,139.6
42,"Memphis, TN, United States",2.07,15.44,15.13,6.48,6.61,18.68,5.35,168.10,152.93,...,48.23,NaN,77.90,22.10,62.1,27.4,46.4,64.0,51.8,131.0